@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
/* Primary Color */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
/* Neutral Color */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    max-width: 1400px;
    width: 1000px;
    margin: 0px auto;
    
    .head{
        height: 150px;
        .navBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .sidebar{
                position: fixed;
                top: 0;
                right: 0;
                height: 100vh;
                background-color: rgb(255, 255, 255);
                width: 250px;
                display: none;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 30px;
                padding: 60px 30px;
                box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.534);
                animation: open 0.4s ease;
                    li{
                        list-style: none;

                        &:nth-child(1){
                            margin-left: 90%;
                            margin-bottom: 40px;
                        }
                        a{
                            text-decoration: none;
                            color: var(--very-dark-blue);
                        }
                    }

                @keyframes open {
                    0%{
                        width: 100px;
                    }
                    100%{
                        width: 250px;
                    }
                    
                }
                }
            }

            .nav-items{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                list-style: none;

                .menuMostrar{
                    display: none;
                }

                li{
                    a{
                        text-decoration: none;
                        
                    &:hover, :active{
                        color: var(--soft-orange);
                    }
                    }

                }
            }
        }
    }

    .main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .content1{
            grid-column: span 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            .banner{
                grid-column: span 2;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .title-content1{
                
                h1{
                    font-size: 50px;
                }
            }

            .contenido-text{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-evenly;
                gap: 20px;
                text-align: justify;

                p{
                    padding: 0px 10px 0px 0px; 

                }
                .btn{
                    padding: 15px 30px;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    border: none;
                    background-color: var(--soft-red);
                    color: var(--off-white);
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover, :active{
                        background-color: var(--very-dark-blue);
                    }
                }
            }
        }

        .content2{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            background-color: var(--very-dark-blue);
            padding: 25px;

            .title-content2{
                color: var(--soft-orange);
                font-size: 30px;
            }
            .content2-items{
                
                .item1, .item2, .item3{
                    border-bottom: 2px solid var(--dark-grayish-blue);
                    h3{
                        color: var(--off-white);
                        padding: 20px 0px 10px 0px;
                        cursor: pointer;

                        &:hover, :active{
                            color: var(--soft-orange);
                        }
                    }
                    p{
                        color: var(--dark-grayish-blue);
                        padding: 10px 0px 30px 0px;
                    }
                }
                .item3{
                    border: none;
                }
            }
        }
    }

    .articulos-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 0px 20px 0px;
        gap: 30px;
        .items-content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .img{
                img{
                    width: 100px;
                    height: 120px;
                }
            }

            .text-articles{
                grid-column: span 2;
                .number{
                    color: var(--grayish-blue);
                    font-size: 30px;
                    font-weight: 600;
                }
                .item-title{
                    padding: 5px 0px;
                    font-size: 16px;
                    font-weight: 800;
                    &:hover, :active{
                        color: var(--soft-red);
                        cursor: pointer;
                    }
                }
            }
        }
    }



@media (max-width: 768px){

    body{
        max-width: 600px;
        width: 600px;
        .head{
        .navBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

        .sidebar{
            height: 200vh;
        }
        .nav-items{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            list-style: none;
            .items{
                display: none;
            }
            .menuMostrar{
                display: flex;
            }
    
            li{
                a{
                    text-decoration: none;
                    
                        &:hover, :active{
                            color: var(--soft-orange);
                            }
                }
    
                }
            }
        }
    }
  }
}   

 @media (max-width: 1000px){
    body{
        width: 700px;

        .main{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            .content1{
                display: flex;
                flex-direction: column;
                align-items: start;
    
                .banner{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .title-content1{
                    
                    h1{
                        font-size: 40px;
                    }

            }
    
        }
        .content2{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            background-color: var(--very-dark-blue);
            padding: 25px;

        }
    }
    .articulos-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px auto;
        .items-content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .img{
                display: grid;
                justify-content: start;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
      }
    }
}

@media (max-width: 325px){
    body{
        max-width: 500px;
        width: 280px;

        .head{
            .navBar{
                .sidebar{
                    height: 200vh;
                    width: 200px;
                    
                }
            }
        }
    }
}

@media (max-width: 500px){
    body{
        max-width: 500px;
        width: 400px;

        .head{
            .navBar{
                .sidebar{
                    height: 200vh;
                    width: 200px;
                    animation: open 0.4s ease;

                    @keyframes open {
                        0%{
                            width: 100px;
                        }
                        100%{
                            width: 200px
                        }
                    }
                }
            }
        }
    }
}